{% extends '@layout/default.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="index.css">
{% endblock %}

{% block javascript %}
<script>
    const geojson = {{ combined | raw }};
</script>
<script src="index.js"></script>
<script>
    $('#form-features').on('submit', function (event) {
        event.preventDefault();
        location.assign('/features/' + $('select[name=features]').val());
    });
    $('#form-resources').on('submit', function (event) {
        event.preventDefault();
        location.assign('/resources/' + $('select[name=resources]').val());
    });
</script>
{% endblock %}

{% block content %}

<h1 class="mt-3">
    <i class="fas fa-users"></i>
    OpenStreetMap Community Index
</h1>

<hr>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-comments"></i>
                    Resources
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Community resources</h6>
                <form id="form-resources" autocomplete="off">
                    {{ include('@app/partial/resources.html.twig') }}
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-map-marked-alt"></i>
                    Features
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Areas where the communities are active</h6>
                <form id="form-features" autocomplete="off">
                    {{ include('@app/partial/features.html.twig') }}
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div id="map-container">
    <div id="map"></div>
    <div id="overlay">
        <div id="overlay-info">
            <i class="fas fa-mouse-pointer"></i>
            Click on the map!
        </div>
        <ul id="overlay-list" class="mb-0 list-unstyled"></ul>
    </div>
</div>

<form class="form-inline my-2" autocomplete="off">
    <div class="form-group">
        <label for="map-filter-type" class="mr-2">
            <i class="fas fa-filter"></i>
            Filter:
        </label>
        <select class="form-control form-control-sm" id="map-filter-type">
            <option value="">Show all</option>
            <option value="aparat">آپارات (Aparat)</option>
            <option value="discord">Discord</option>
            <option value="discourse">Discourse</option>
            <option value="facebook">Facebook</option>
            <option value="forum">Forum</option>
            <option value="github">GitHub</option>
            <option value="group">Group</option>
            <option value="irc">IRC</option>
            <option value="mailinglist">Mailing-list</option>
            <option value="matrix">Matrix</option>
            <option value="meetup">Meetup</option>
            <option value="osm">OpenStreetMap</option>
            <option value="osm-lc">OpenStreetMap Local Chapter</option>
            <option value="reddit">Reddit</option>
            <option value="slack">Slack</option>
            <option value="telegram">Telegram</option>
            <option value="twitter">Twitter</option>
            <option value="wiki">Wiki</option>
            <option value="xmpp">XMPP</option>
            <option value="youthmappers">Youth Mappers</option>
            <option value="youtube">YouTube</option>
        </select>
    </div>
</form>

{% endblock %}