{% extends '@layout/default.html.twig' %}

{% block javascript %}
<script>
    $('#form-resources').on('submit', function (event) {
        event.preventDefault();
        location.assign('/resources/' + $('select[name=resources]').val());
    });
</script>
{% endblock %}

{% block content %}
<h1 class="mt-3">OpenStreetMap Community Index</h1>
<h2>Resources</h2>
<hr>
<form id="form-resources" autocomplete="off">
    {{ include('@app/partial/resources.html.twig') }}
</form>
{% endblock %}