# Composer files
composer.phar
vendor/

# NPM files
.cache/
node_modules/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/osm-community-index-master/
data/sessions/
data/tmp/
temp/

# Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation
