<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d590a7b5bd.js" crossorigin="anonymous"
        integrity="sha384-TDhFdBCp6zkFoOxFg2XaOsN4rWmrP4Tbzzaz0VKFgnk4mENBCgpW6mG7kamM0Yvy"></script>
    {% block stylesheet %}{% endblock %}

    <title>OSM Community Index</title>
</head>

<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% if version is defined %}
    <footer class="footer">
        <div class="container">
            <hr>
            <span class="text-muted">
                Based on
                <a href="https://github.com/osmlab/osm-community-index" target="_blank">
                    OpenStreetMap Community Index
                </a>
                ({{ version }} - {{ update | date('d.m.Y H:i:s') }})
                -
                <i class="fab fa-github"></i>
                <a href="https://github.com/jbelien/oci-viewer/" target="_blank">
                    GitHub
                </a>
            </span>
        </div>
    </footer>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
</body>

</html>